.contactListContainer {
  margin: 20px;
}

.contactList {
  list-style: none;
  padding: 0;
}

.contactList li {
  /* border: 1px solid #ccc; */
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 270px;
}

.contactList li input[type='checkbox'] {
  margin-right: 10px;
}
.searchContainer {
  display: flex;
  justify-content: center;
}

.scrollableList {
  max-height: 400px;
  overflow-y: scroll; /* Włącza niestandardowy pasek przewijania */
}
/* Ukrywa pasek przewijania na przeglądarkach, które obsługują pseudoelementy ::-webkit-scrollbar */
.scrollableList::-webkit-scrollbar {
  width: 0.5em; /* Szerokość paska przewijania */
}

.scrollableList::-webkit-scrollbar-track {
  background-color: transparent; /* Kolor tła ścieżki przewijania */
}

.scrollableList::-webkit-scrollbar-thumb {
  background-color: transparent; /* Kolor samego paska przewijania */
}
